@charset "utf-8";
/* CSS Document */

body	{
	padding: 0px;
	margin: 0px;
	font-family: "Quicksand", "Arial", sans-serif;
  	font-weight: 400;
  	line-height: 1.8;
 	color: #2c98f0; 
 	font-size: 16px; 
	background: whitesmoke; 

} 

h2 {
	line-height: 1px;
	letter-spacing: 3px;
}


a:link {color: #fff; text-decoration: none;  }
a:active {color: #fff; text-decoration: #2c98f0;}
a:visited {color: #fff; text-decoration: none;}
a:hover {color: #fff; text-decoration: #2c98f0; font-weight: bold; }
a:hover {background-color: #F8B41F}


ul a {
	display: block;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	-webkit-transition: 0.5s;
 	-o-transition: 0.5s;
 	transition: 0.5s; }
	a:hover, a:active, a:focus {
    color: #2c98f0;
    outline: none;
    text-decoration: none;
}

/*  MENU  */

.leftnav 

{
	padding: 0px;
	margin:0px;
	width: 13em;
    z-index: 3;
	position: fixed;
  	float:left;
	background: #f9bf3f;
	height: 100%;
	border-right: 1px solid #F8B41F;
	transition: all 0.5s ease-out;
    }


li > .hrtrans {
  transition: width 0.5s  ease-in;
  width : 0%;
	margin: 0 auto;
	padding: 0px;
	height: 0.5px;
	background-color: #2c98f0;
	border:hidden;
}
li:hover > .hrtrans {
   width:80%;
   float:inherit;
}


.leftnav ul {
  margin: 0;
	display: block;
  padding: 0;
  list-style: none;
  overflow: hidden;
	width: 100%;
}

.leftnav li a {
  	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
    text-decoration: none;
}

.leftnav li a:hover,
.leftnav .menu-btn:hover {
  background-color: #F8B41F;
}

.mylogo {
    width: 150px;
    height: 150px;
    margin: 10px auto 0px auto;
    margin-bottom: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid white;}


.logotekst {
	margin: 0px;
	padding: 0px;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
	color: white;
    display: block;
    width: 100%;
	background-color: #F8B41F

}

/*  CONTAINER FOR COLUMNS  */

.main {
	border-top-right-radius: 5px; 
	text-align: left;
	padding-top: 0px;
  	padding-bottom: 1px;
	margin-right: 20px;
	left: 14em;
	height: 100%;
  	position: absolute;
    background-color: whitesmoke;}

/* KOLONNER / INNHOLD SIDE*/
.row {
  content: "";
  display: table;
  clear: both;
}


.column {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: floralwhite;
	display: inline-block;  
	float: left;
	width: 100%;
	padding: 15px;
	border-radius: 10px;
}



/*.hr {
	height: 0.5px;
	background-color: #F8B41F;
	border: none;
	margin-left: 0px;
	
}*/

hr.one {
width: 7em;
	height: 0.5px;
	background-color: #F8B41F;
	border: none;
	margin-left: 0px;

}

hr.two {
	width: 5.7em;
	height: 0.5px;
	background-color: #F8B41F;
	border: none;
	margin-left: 0px;
}

hr.three {
	width: 13.5em;
	height: 0.5px;
	background-color: #F8B41F;
	border: none;
	margin-left: 0px;
}

hr.four {
	width: 11.2em;
	height: 0.5px;
	background-color: #F8B41F;
	border: none;
	margin-left: 0px;
}


/*  PICTURES  */

.pictures {
 text-align: center;
 padding-bottom: 8em;
}

.pictures ul
{ 
height: 1em;
} 

.pictures li
{ 
display:inline; 
} 


/*  CONTACT FOR  M*/

textarea {
	min-width: 250px;
  	min-height: 200px;
	resize: none;
}

input {
	min-width: 250px;
  	min-height: 25px;
	resize: none;
}


/* LEFTNAV MENU LINKS */

.leftnav .menu {
  clear: both;
  max-height: 0;
  height: 10em;
  background-color: #f9bf3f;
  transition: max-height .2s ease-out;
}

/* LEFTNAV MENU ICON  / BUTTON WHEN RESIZED */

.leftnav .menu-icon {
  cursor: pointer;
  display: block;
  float: left;
  padding: 28px 0px 0px 20px ;
  margin-top: -7px;
  position: relative;
  user-select: none;
}

.leftnav .menu-icon .nav-icon {
  background: #2c98f0;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.leftnav .menu-icon .nav-icon:before,
.leftnav .menu-icon .nav-icon:after {
  background: #2c98f0;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.leftnav .menu-icon .nav-icon:before {
  top: 5px;
}

.leftnav .menu-icon .nav-icon:after {
  top: -5px;
}

/* BUTTON */

.leftnav .menu-btn {
  display: none;
}

.leftnav .menu-btn:checked ~ .menu {
  max-height: 400px;
}

.leftnav .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.leftnav .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

.leftnav .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}


/*  WHEN SITE IS AT OR ABOVE 50EM'S  */

@media (min-width: 50em) {

	
  .leftnav .menu {
    clear: both;
    float: left;
    max-height:none;
  }
	
  .leftnav .menu-icon {
    display: none; 
  }
	
	
  .column {
    width: 100%;
	  transition: all 0.5s ease-out;
	}
	

}

/*  WHEN SITE IS MINIMIZED BELOW 50EM'S  */

@media screen and (max-width:50em) {
	
	.mylogo {
		display:none;
	}
	

	
  .main {
	font-size: 20px;
	  margin-top: 40px;
	left: 1em;
	  transition: all 0.5s ease-in;
	}

	.leftnav {
		width: 100%;
		height: 45px;
	}
	
	
	.logotekst {
		display: none;
	}

	.leftnav .menu-icon {
		margin-bottom: 0.6em;
	}


	

.menu {
		position: fixed;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
	    }
	


.leftnav .menu-icon {
		position: relative;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		box-shadow: none;
	}
	
	
}